version: '3.3'

services:

  # Imixs Workflow DB
  db:
    image: postgres:9.6.1
    environment:
      POSTGRES_PASSWORD: adminadmin
      POSTGRES_DB: workflow

  # Imixs Microservice Project
  app:
    image: imixs/imixs-microservice:latest
    environment:
      WILDFLY_PASS: adminadmin
      DEBUG: "true"    
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "adminadmin"
      POSTGRES_CONNECTION: "jdbc:postgresql://db/workflow"
      # LISTENERS: INSIDE://:9092,OUTSIDE://:9094
      KAFKA_BROKERS: "kafka:9092"
      KAFKA_CLIENTID: "imixs-workflow1"
    ports:
      - "8080:8080"
      - "9990:9990"
      - "8787:8787"

  # Imixs Admin Client
#  imixsadmin:
#    image: imixs/imixs-admin
#    ports:
#      - "8888:8080"
      
      
  #     
  zookeeper:
    image: wurstmeister/zookeeper
    ports:
      - "2181:2181"

  kafka:
    image: wurstmeister/kafka:latest
    ports:
      - target: 9094
        published: 9094
        protocol: tcp
        mode: host
    environment:
#      HOSTNAME_COMMAND: "docker info | grep ^Name: | cut -d' ' -f 2"
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: INSIDE:PLAINTEXT,OUTSIDE:PLAINTEXT
#      KAFKA_ADVERTISED_LISTENERS: INSIDE://:9092,OUTSIDE://_{HOSTNAME_COMMAND}:9094
      KAFKA_ADVERTISED_LISTENERS: INSIDE://:9092,OUTSIDE://localhost:9094
      KAFKA_LISTENERS: INSIDE://:9092,OUTSIDE://:9094
      KAFKA_INTER_BROKER_LISTENER_NAME: INSIDE
    volumes:
       - /var/run/docker.sock:/var/run/docker.sock    
      
     